

table {
  border-spacing: 0;   
  border-collapse: separate;
  text-align: center;
}

.container{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.container .innerTable{
  width: 100%;
  height: 100%;
}

/*HEADER*/
table .headerRow{
  width: 100%;
  background-color: #00609B;
}

.headerRow .illustration{
  vertical-align: bottom;
  text-align: right;
  width: 40%;
}