/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

/*Custom css*/

html {
  width: 100%;
  font-size: 16px;
  background-color: black;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; font-style: normal;
}

*:not(img)::-moz-selection{
	background-color: #FF512F ;
	color: white;
}

*:not(img)::selection {
	background-color: #FF512F ;
	color: white;
}
img::-moz-selection{
	background-color: none !important;
}
img::selection{
	background-color: none !important;
}

h1, h2 {
  text-transform: uppercase;
  font-size: 1.8em;
  padding: 0 0.5em;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 300;
}

p {
  letter-spacing: .05em;
  font-weight: 200;
  margin: 2em 0;
  line-height: 1.5;
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
  font-weight: 600;
}

header, body>section, footer {
  position: relative;
  width: 100%;
  padding: 1em;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/*HEADER*/

header {
  height: 400px;
  color: white;
}

header .background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(135deg, #00609B, #103F69 75%);
  clip-path: polygon( 0 0, 100% 0, 100% 60%, 0 80%);
  -webkit-clip-path: polygon( 0 0, 100% 0, 100% 60%, 0 80%);
}

.content {
  max-width: 800px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

header .content {
  display: flex;
  flex-flow: row;
}

header .content>div {
  flex-grow: 1;
  width: 50%;
  display: flex;
  flex-flow: column;
}

header .content .left {
  align-self: flex-start;
}

header .content .left .MainLOGO {
  width: 100%;
  height: auto;
  padding: 2em 0;
}

header h2{
  word-wrap: none;
}

header .content .right {
  align-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

header .content .right .illustration {
  width: 15em;
  max-width: 100%;
  height: auto;
}

/*EMAIL BODY*/

body>section {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
}

.LondonInfo {
  min-width: 200px;
  height: auto;
}

.tableText {
  display: flex;
  flex-flow: row;
}

.btnContainer{
  margin: 2em 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.button{
  font-size: 1.2em;
  padding: 1em 2em;
  margin: .5em 0;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-image: linear-gradient( 45deg, #FF512F, #F09819 );
  border: none;
  cursor: pointer;
}

.button:hover{
  background-image: linear-gradient( 45deg, #F09819, #FF512F );
}

.tandc i{
  font-weight: 400;
}

a i{
  color: #F09819;
}

a:hover i{
  color: #FF512F;
}

/*FOOTER*/

footer {
  width: 100%;
  max-width: 800px;
  flex-flow: column;
  align-items: flex-start;
}

.footerContent {
  height: 10px;
  width: 100%;
  max-width: 800px;
  background-image: linear-gradient(90deg, #00609B 0%, #103F69 50%, #FF512F 50%, #F09819 100%);
  padding: 0;
}

footer .signature{
  margin: 1em 0;
  display: flex;
  flex-flow: column;
}
footer .signature>*{
  padding: 8px 0;
}
footer h2{
  font-weight: 600;
}
footer a{
  color: black;
  text-transform: uppercase;
}

footer a:hover{
  color: #FF512F;
}

footer .signature>div a{
  margin-right: 1em;
}

footer .signature>div a:hover svg{
  fill: #FF512F;
}

.signature svg:hover .circle{
  stroke: #FF512F;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 550px){
  .tableText{
    flex-flow: column;
    align-items: center;
  }
  .tableText svg{
    order: -1;
    width: 60%;
  }
}

@media only screen and (max-width: 750px){
  header h2{
    font-size: 1.1em;
  }
}